@import 'tailwindcss';
@import 'sweetalert2/dist/sweetalert2.min.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.auth-gradient {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.auth-gradient-dark {
    background: linear-gradient(135deg, #1e1b4b 0%, #312e81 50%, #1e1b4b 100%);
}
